/** Book **/
@font-face {
  font-family: 'GothamHTF';
  src: url('./htf/book/normal/GothamHTF-Book.eot');
  src: url('./htf/book/normal/GothamHTF-Book.woff2') format('woff2'),
    url('./htf/book/normal/GothamHTF-Book.woff') format('woff'),
    url('./htf/book/normal/GothamHTF-Book.ttf') format('truetype'),
    url('./htf/book/normal/GothamHTF-Book.svg#GothamHTF-Book') format('svg'),
    url('./htf/book/normal/GothamHTF-Book.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

/** Medium **/
@font-face {
  font-family: 'GothamHTF';
  src: url('./htf/medium/normal/GothamHTF-Medium.eot');
  src: url('./htf/medium/normal/GothamHTF-Medium.woff2') format('woff2'),
    url('./htf/medium/normal/GothamHTF-Medium.woff') format('woff'),
    url('./htf/medium/normal/GothamHTF-Medium.ttf') format('truetype'),
    url('./htf/medium/normal/GothamHTF-Medium.svg#GothamHTF-Medium') format('svg'),
    url('./htf/medium/normal/GothamHTF-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

/** Black **/
@font-face {
  font-family: 'GothamHTF';
  src: url('./htf/black/normal/GothamHTF-Black.eot');
  src: url('./htf/black/normal/GothamHTF-Black.woff2') format('woff2'),
    url('./htf/black/normal/GothamHTF-Black.woff') format('woff'),
    url('./htf/black/normal/GothamHTF-Black.ttf') format('truetype'),
    url('./htf/black/normal/GothamHTF-Black.svg#GothamHTF-Black') format('svg'),
    url('./htf/black/normal/GothamHTF-Black.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
